* {
    margin: 0;
}

.pai {

}

.filha1, .filha2 {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 10px;
    position: static;
}

.filha2 {
    background: greenyellow;
    float: left;
}

.filha1 {
    position: absolute;
    top: 20px;
    left: 10px;
}