@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


.intro-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
}

.intro-text-content {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: center;
}