*  {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
}

.pai {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

p {
    font-size: 1.6rem;
}

/* REM - RELATIVO AO VALOR ROOT DO DOCUMENTO */
/* EM - RELATIVO A DIV MAIS PROXIMO DELE */

.one {
    background: turquoise;
}

.two {
    background: slateblue;
}

.three {
    background: springgreen;
}
